config autogenerate_preprocessor_decoder_rules
        dynamicpreprocessor directory /usr/local/lib/snort_dynamicpreprocessor/
        preprocessor dynamic_example: port 7777

drop tcp 100.1.0.0/16 ANY -> 100.1.10.10 7777 (msg: "Exploitation of RCE Vulnerability Attempt Detected"; pcre: "/z.{0,2}a.{0,2}q.{0,2}r/"; sid:4)
